fastapi
dotenv
uvicorn
python-multipart
prometheus-client
pandas
Pillow
opencv-python
sentence-transformers
scikit-learn
numpy
extract-msg
PyPDF2
google-generativeai
beautifulsoup4
docx2txt
PyMuPDF
pypandoc
pyodbc
sqlalchemy
azure-storage-blob
openai